<tr class="tabla-productos-fila">
  <td data-label="SKU">{{prod_sku}}</td>
  <td data-label="Nombre">{{prod_nombre}}</td>
  <td data-label="Precio Unitario">HND {{prod_precio}}</td>
  <td data-label="Stock">{{prod_stock}}</td>
  <td data-label="Categoría">{{prod_categoria}}</td>
</tr>